.page_header{
  padding: 30px 0;
}
.top_container{
  width: 1370px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  display: flex;

  background-color: #FFFFFF;
}
.nav{
  display: flex;
  align-items: center;
}
.logo{
  margin-right: 173px;
  width: 79.57px;
   height: 23.04px;

  background-image: url("./Logo.jpg");
  background-repeat: no-repeat;
}

.link{
  text-decoration: none;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;

  color: #292929;
}

.navigation{
  padding-left: 0;
  margin: 0;
  display: flex;
  gap: 72px;

  list-style-type: none;
}

.button_block{
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

  display: flex;
  gap: 85px;
}

#sign_in{
  padding-top: 13px;
  weight: 400px;
}

#start_trial{
  padding-top: 13px;
}

#trial{
  padding: 13px 50px 13px 50px;
  background: #01996D;
  border-radius: 4px;
  border: 1px solid #01996D;

  width: 83px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  text-align: center;

  color: #FFFFFF;
}

.poster{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1920px;
  height: 895px;
  padding-top: 175px;
  padding-left: 275px;
  margin: 0 auto;
  background-image: url("./background_poster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#your_way{
  text-decoration: none;
  width: 227px;

  padding: 20px 50px 20px 50px;
  background: #01996D;
  border-radius: 4px;
  border: 1px solid #01996D;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  text-align: center;
  white-space: nowrap;

  color: #FFFFFF;
}

h1{
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 74px;
  white-space: pre-line;

  color: #01996D;
}

#p_header{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 30px;
  padding-bottom: 30px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;

  color: #484848;
  white-space: pre-line;
}


.main_container{
  width: 1413px;
  height: 1386px;
  padding-top: 75px;
  /* margin-top: 75px; */
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
}

.how_it_works{
  display: flex;
  align-items: flex-start;
  gap: 135px;
  position: absolute;
  width: 1391px;
  padding-left: 0;
  margin: 0 auto;
  list-style-type: none;
}

#how{
  width: 141px;
  margin: 0 1270px 0 0;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  white-space: nowrap;

  color: #424242;
}

#steps{
  width: 584px;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;

  color: #01996D;
}

#text{
  width: 671px;
  margin-top: 20px;


  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  white-space: pre-line;

  color: #424242;
}

.first_mainblock{
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 390px;
  margin-top: 207px;
  gap: 35px;
  padding-left: 0;
}

#personalize{
  position: absolute;
  width: 269px;
  height: 225px;
  margin: 0;


  display: flex;
  align-items: baseline;
  flex-direction: row;
}

#zero_one{
  margin: 0;
  width: 157px;
  height: 225px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 225px;

  text-align: center;

  color: rgba(1, 153, 109, 0.2);

}

#pers{
  position:absolute;
  width: 181px;
  height: 45px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  text-align: center;
  padding-left: 88px;
  padding-top: 135px;
  color: #000000;
}

#one_text{
  width: 382px;
  padding-top: 215px;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  white-space: pre-line;



  color: #424242;
}

#one_image{
  width: 390px;
  height: 492px;
  padding-top: 60px;

  background-image: url("./one_image.jpg");
  border-radius: 12px;

}

#inside_image{
  position: absolute;
  width: 185px;
  height: 148px;
  margin-top: 672px;
  margin-left: 205px;

  background-image: url("./inside_image.jpg");

}

.second_mainblock{
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 392px;

  margin-top: 494px;
  margin-left: 485px;
}

.write_understand{
  position: absolute;
  width: 392px;
  height: 225px;

  display: flex;
  align-items: baseline;
  flex-direction: row;

}

#zero_two{
  margin: 0;
  width: 176px;
  height: 225px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 225px;

  text-align: center;

  color: rgba(1, 153, 109, 0.2);

}

#write{
  position: absolute;
  width: 313px;
  height: 45px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  padding-left: 79px;
  padding-top: 135px;

  white-space: nowrap;

  text-align: center;

  color: #000000;
}

#two_text{
  width: 392px;
  padding-top: 235px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;

  white-space: pre-line;


  color: #424242;
}

#two_image{
  width: 390px;
  height: 492px;
  background-image: url("./two_image.jpg");
  border-radius: 12px;
}

.third_mainblock{
  position: absolute;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 441px;
  margin-left: 979px;
  margin-top: 261px;


}

.alivio_container{
  position: absolute;
  width: 226px;
  height: 225px;

  display: flex;
  align-items: baseline;

  left: 7px;

}

#zero_three{
  margin: 0;
  width: 175px;
  height: 225px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  line-height: 225px;

  text-align: center;

  color: rgba(1, 153, 109, 0.2);

}

#alivio{
  position: absolute;
  width: 102px;
  height: 45px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;

  padding-left: 124px;
  padding-top: 135px;

  text-align: center;

  color: #000000;
}

#three_text{
  width: 441px;
  padding-top: 226px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0;

  white-space: pre-line;


  color: #424242;
}

#three_image{
  width: 390px;
  height: 492px;

  background-image: url("./three_image.jpg");
  border-radius: 12px;
}

.video_container{
  display: flex;
  max-width: 1920px;
  height: 922px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  background-color: #245852;
}

.aside_video{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  width: 580px;
  height: 352px;
  margin: 0;
  padding-top: 310px;
  padding-left: 207px;
  list-style-type: none;
  color: #FFFFFF;
}

#video_headline{
  width: 580px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;

  margin-top: 0;
  margin-bottom: 0;
}

#video_text{
  width: 550px;
  height: 39px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;

  margin-top: 0;

}

#button_text{
  width: 240px;
  padding: 20px 50px 20px 50px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;

  color: #FFFFFF;

  white-space: nowrap;
  text-decoration: none;
  text-align: center;
}

.video{
  position: absolute;
  width: 895.84px;
  height: 516.11px;
  margin-top: 229px;
  margin-left: 818px;

  background-image: url("./video_image.jpg");
  border-radius: 16.3326px;
}

#vector1_play{
  position: absolute;
  width: 80.85px;
  height: 80.85px;
  left: 409.95px;
  top: 216.41px;

  background-image: url("./Vector_circle.svg");
}

#vector2_play{
  position: absolute;
  width: 26.95px;
  height: 33.69px;
  left: 440.27px;
  top: 239.99px;

  background-image: url("./Vector_triangle.svg");
}

.pre-footer{
  width: 1370px;
  height: 648px;
  padding-top: 120px;

  margin-left: auto;
  margin-right: auto;

}

.pre-footer_text_block{
  width: 584px;
  height: 413px;
  padding-left: 786px;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-content: flex-start;

}

#product{
  width: 136px;
  height: 39px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 39px;

  color: #424242;
}

#pre-footer_headline{
  width: 584px;
  height: 158px;
  margin-top: 10px;
  margin-bottom: 20px;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 79px;

  color: #01996D;
}

#pre-footer_text{
  width: 530px;
  height: 81px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;

  color: #484848;

  white-space: pre-line;
}

#second_way{
  width: 227px;
  margin-top: 60px;
}

#second_your_way{
  width: 227px;
  padding: 20px 50px 20px 50px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #FFFFFF;

  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;

  white-space: nowrap;
  text-decoration: none;
  text-align: center;
}

.pre-footer_image_background{
  position: absolute;
  width: 638.69px;
  height: 573.26px;
  padding-top: 0;
  margin-left: 60.68px;

  background: rgba(1, 153, 109, 0.2);
  border-radius: 18.1125px;
}

.pre-footer_image{
  position: absolute;
  width: 427.6px;
  height: 641.05px;
  left: 97.11px;
  bottom: -67px;

  background: url("./pre-footer_image.png");
  border-radius: 18.1125px;
}

.card{
  position: absolute;
  width: 296.14px;
  height: 293.9px;
  margin-top: 400px;

  background-color: #FFFFFF;
  border-radius: 3.72971px;

  filter: drop-shadow(0px 3.62249px 18.1125px rgba(165, 165, 165, 0.25));
}

.customized_block{
  position: absolute;
  left: 83.32px;
  top: 22.64px;
  width: 131px;
  height: 133px;
}

#customized_for{
  position: absolute;
  width: 130.54px;
  height: 23.12px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 14.49px;
  line-height: 23px;

  text-align: center;

  color: #000000;
}

#line{
  position: absolute;
  width: 110.49px;
  border-width: 0.745942px;
  border-color: #000000;
  top: 30.79px;
  left: 10px;
}

.circle{
  position: absolute;
  width: 57.44px;
  height: 57.44px;
  top:44.5px;
  left:36.04px;

  background-image: url("./Ellipse.svg");
  background-color: #FFFFFF;

}


.card_image{
  position: absolute;
  width: 70px;
  height: 70px;

  background-image: url("./Ð¡ard_image.png");
  background-repeat: no-repeat;
}


#name{
  position: absolute;
  width: 41.03px;
  height: 18.65px;
  left: 43.24px;
  top: 112.3px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 11.9351px;
  line-height: 19px;

  text-align: center;

  color: #000000;

}

.custom_contents{
  position: absolute;
  top: 173.9px;
  left: 61px;
  width: 180px;
  height: 90px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  display: flex;
  flex-direction: column;

  list-style-type: none;
}

#content{
  width: 180px;
  height: 24.96px;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Georgia';
  font-style: normal;
  font-weight: 700;
  font-size: 15.9292px;
  line-height: 25px;

  color: #000000;

  white-space: nowrap;
}

#first_point{
  width: 117.35px;
  height: 16.46px;

  margin-top: 15.93px;
  margin-bottom: 15.93px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 10.6195px;
  line-height: 17px;

  text-align: center;
  white-space: nowrap;

  color: #000000;
}

#second_point{
  width: 100.35px;
  height: 16.46px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 10.6195px;
  line-height: 17px;

  text-align: center;
  white-space: nowrap;

  color: #000000;
}

.foot{
  padding-top: 250px;
}

.footer{
  width: 1920px;
  height: 654px;
  margin-left: auto;
  margin-right: auto;

  background-color: #245852;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_white{
  width: 82px;
  height: 25px;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;

  color: #FFFFFF;
}

.footer_content{
  width: 230px;
  padding-left: 275px;

  display: flex;
  flex-direction: column;
  gap: 60px;
  white-space: nowrap;

  list-style-type: none;
}

.footer_content a{
  text-decoration: none;
  color: #FFFFFF;
}

.point{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;

  color: #FFFFFF;
}

.footer_image{
  width: 626px;
  height: 417px;
  margin-left: 370px;

  background-image: url("./desk_image.jpg");
  background-repeat: no-repeat;

  border-radius: 15px;
}

.contact_list{
  width: 400px;

  display: flex;
  flex-direction: column;
  gap: 60px;

  list-style-type: none;
}

.contact_list a{
  text-decoration: none;
  color: #FFFFFF;
}

 a.x2:hover{
  font-size: 105%;
}


#contacts {
  height: 25px;

  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;

  color: #FFFFFF;
}

.svg_items{
  list-style-type: none;

  width: 35px;
  padding-top: 83px;
  padding-left: 225px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

#phone{
  width: 32px;
  height: 32px;

  background: url("./phone.svg");
}

#address{
  width: 32px;
  height: 32px;

  background: url("./location.svg");
}

#facebook{
  width: 32px;
  height: 32px;

  background: url("./facebook2.svg");
}

#instagram{
  width: 32px;
  height: 32px;

  background: url("./instagram.svg");
}
